#Environment Variables
# #####################

# TMP and TEMP are defined in the Windows environment.  Leaving
# them set to the default Windows temporary directory can have
# unexpected consequences.
unset TMP
unset TEMP

export EDITOR="vim"
export MANPAGER="less -X"
export LESS_TERMCAP_md="$ORANGE"

#Larger bash history 
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

export CLOJURE_HOME=/c/dev/clojure/current
export LEIN_HOME=/c/dev/leiningen
export GROOVY_HOME=/c/dev/groovy/current
export JAVA_HOME="c:\Program Files\Java\jdk1.6.0_25"
export CLASSPATH=$CLOJURE_HOME/clojure-1.3.0.jar:$CLASSPATH
export PATH=/c/Program\ Files\ \(x86\)/Vim/vim73:$PATH:$GROOVY_HOME/bin:$CLOJURE_HOME/:/c/dev/apache-maven-2.2.1/bin:$LEIN_HOME/:$JAVA_HOME/bin
